%nav.navbar.navbar-default.navbar-fixed-top{ role:'navigation'}
  .navbar-header
    = link_to root_path, class:'navbar-brand' do
      Tsuga

#map-container
  #map-canvas

.container

:coffee
  $(document).ready ->
    console.log "doc ready"
    TsugaDemo.initialize('#map-canvas')