#tsuga
  %nav.navbar.navbar-default.navbar-fixed-top{ role:'navigation' }
    = link_to root_path, class:'navbar-brand' do
      %span.text-primary
        Tsuga
      %span.text-muted
        a clusterer for maps
    %p.navbar-text.pull-right
      %a{ href: 'http://github.com/mezis/tsuga' }
        View on Github

  %nav.navbar.navbar-default.navbar-fixed-bottom{ role:'navigation' }
    %p.navbar-text.pull-left
      Zoom:
      %span#js-zoomlevel

    %p.navbar-text.pull-right
      %span#js-cluster-count ?
      clusters
    %p.navbar-text.pull-right
      %span#js-point-count ?
      points


  #map-container
    #map-canvas{ data: { 'clusters-path' => clusters_path, 'tiles-path' => tiles_path, 'points-path' => points_path } }
